[Unit]
Description=Flask App Frontend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/server
ExecStart=/usr/bin/python3 /home/ubuntu/server/flask_app.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
