<!DOCTYPE html>
<html lang = "en"> 
	<head>
		<meta charset="utf-8" />
		<title>{{ title }} - FYP</title>
		<style> 
			.menubar {
				position: sticky;
				top: 0px;
			}
		</style>
	</head> 
	<body> 
		<button onclick = "graphy()">Show me the Graph</button>
		<!-- chart library -->
		<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script> 
		<div class = menubar> 
			IOT Smart Garden: <a href="/login">Home</a> <a></a>
		</div>
		<center> 
			<h1>{{ Plotting }}</h1>
			<canvas id="chart" width="600" height="400"></canvas>
			<script> 
				function graphy()  {
					var bar = { 
						labels : [ 
							{% for item in labels1 %} 
								"{{ item }}",
							{% endfor %}
						], 
						datasets : [{ 
							fillColor: "rgba(151,187,205,0.2)",
							strokeColor: "rgba(151,187,205,1)",
							pointColor: "rgba(151,187,205,1",
							data : [
							{% for item in values1 %}
								{{ item }}, 
							{% endfor %}
							]
						}
					]
				}
				var chart = document.getElementById("chart").getContext("2d");

				new Chart(chart).Line(bar, {
					scaleStartValue: 0,
					scaleShowVerticalLines: true, 
					scaleShowGridLines: true,
					bezierCurve: false, 
					}
				);
			}
			</script>
		</center>
		<hr>{% block content %}{% endblock %}
		<button> <a href = "/water">Water Plants</a></button>
	</body>
</html>