[Unit]
Description=AutoSSH tunnel service Remote access from port 5999 to local 22
After=network.target
[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -N -R 5999:localhost:22 ubuntu@ec2-18-200-112-1.eu-west-1.compute.amazonaws.com
[Install]
WantedBy=multi-user.target
