[Unit]
Description=AutoSSH tunnel service Remote port 5000 to local 5000
After=network.target
[Service]
Environment="AUTOSSH_GATETIME=0"
ExecStart=/usr/bin/autossh -N -R 5000:localhost:5000 ubuntu@ec2-18-200-112-1.eu-west-1.compute.amazonaws.com
[Install]
WantedBy=multi-user.target
